.cards {
    &__container {
        @extend %container;
    }

    &__wrapper {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(3, 200px);
        justify-content: center;
        perspective: 1000px;
    }

    &__item {
        align-items: center;
        border-radius: 4px;
        color: $color-white;
        display: flex;
        justify-content: center;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform 0.5s;

        &:active {
            transform: scale(0.95);
            transition: transform 0.2s;
        }

        &.is-active {
            transform: rotateY(180deg);
        }
    }

    &__front,
    &__back {
        @include size(100%, 100%);
        @include flex-center;
        backface-visibility: hidden;
        border-radius: 5px;
        padding: 10px;
        position: absolute;
    }

    &__front {
        background-color: var(--color-secondary);
        transform: rotateY(-180deg);
    }

    &__back {
        background-color: var(--color-primary-90);
        font-size: 5rem;
    }
}
