@mixin on-event {
    &:hover,
    &:focus {
        @content;
    }
}

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
